
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* font-family: "Roboto Slab", serif; */
    font-family: "Bona Nova SC", serif;

}
html,body{
    width: 100%;
    height: 100%;
    /* overflow-x: hidden; */
}
nav{
    display: flex;
    justify-content: center;
}

.navitem{
    height: 50px;
    padding: 1vw;
    /* border-radius: 20px; */
    width: 90%;
    /* background-color: rgb(101, 155, 236); */
    /* color: white; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1vw;
}
.navitem a{
    text-decoration: none;
    /* color: white; */
    color: #000000;
    margin-left: 0.4vw;
}
.navitem #register{
    /* background-color: rgb(165, 223, 241); */
    color: black;
    padding: 0.7vw;
    border-radius: 20px;
    border: none;
    border: 2px solid rgb(0, 213, 255);
    cursor: pointer;

}
.navitem #book{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 253, 253);
    padding: 0.7vw;
    border-radius: 20px;
    border: none;
    cursor: pointer;

}


.gradient-overlay {
    position: relative;
    display: inline-block;
}

.gradient-overlay img {
    display: block;
    width: 100%;
}
.gradient-overlay::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(to top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
    pointer-events: none;
}
.gradient-overlay::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    pointer-events: none;
}

.text-overlay h1{
   position: absolute;
   top: 7%;
   left: 9%;
   text-align: center;
   font-size: 7vw;
   color: rgb(43, 41, 41);
   font-weight: lighter;
}
.text-overlay p{
    position: absolute;
    top: 20%;
    left: 25%;
    width: 50%;
    text-align: center;
    font-size: 1.5vw;
    color: rgb(0, 0, 0);
    font-weight: 400;
    font-family: "Poppins", sans-serif;
}
.scroll-down{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.scroll-down h1{
    font-size: 2vw;
    font-weight: 400;
}
.scroll-down i{
    font-size: 3vw;
    color: rgb(0, 0, 0);
    margin-top: 3vw;
    animation: bounce 2s infinite
}
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translate(-50%, -50%);
    }
    40% {
        transform: translate(-50%, -40%);
    }
    60% {
        transform: translate(-50%, -45%);
    }
}


.mission-container {
    text-align: center;
    padding: 20px;
}

.cherubs-image {
    width: 300px;
    height: auto;
    margin-bottom: 20px;
}

.mission-content p {
    font-size: 5vw;
    color: #000000;
    line-height: 1.5;
    font-weight: 200;
}

.mission-footer {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.line {
    flex-grow: 1;
    height: 1px;
    background-color: #ccc;
    margin: 0 10px;
}

.mission-text {
    font-size: 16px;
    color: #666;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    background-color: #fff;
}

.information .infoleft img{
    width: 25vw;
    height: 40vw;
    border-radius: 3px;

}
.information .infoleft{
    position: relative;
    margin-left: 5vw;
}

.card{
    position: absolute;
    top: 35vw;
    left: 20vw;
    transform: translate(-50%, -50%);
    width: 25vw;
    height: 15vw;
    background-color: #182a42;
    border-radius: 3px;

}
.ri-hospital-line{
    color: white;
    font-size: 4vw;
    position: absolute;
    top: 50px;
    left: 40px;

}
.card h1{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1.9vw;
    font-weight: 100;
    width: 100%;
    text-align: start;
    margin-left: 40px;

}
.information{
    display: flex;
    justify-content: space-between;
    height: 60vw;
    background-color: #a7e8f422;
    width: 100%;
}
.infoleft{
    margin-top: 100px;
    width: 25%;

}
.whymedcare h1{
    font-size: 16px;
    color: #010000;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    background-color: #fff;
    width: max-content;
    margin-left: 30vw;
    margin-bottom: 50px;
}
.inforight{
    margin-right: 6vw;
    display: flex;
    align-items: center;
    width: 75%;
    height: 100%;
    margin-top: 100px;
    flex-direction: column;
}
.whymedcare h2{
    width: 100%;
    font-size: 4vw;
    color: #000000;
    line-height: 1;
    font-weight: 200;
    text-align: center;
    /*margin-right: 200px;*/
    margin-left: 50px
}
.bottom-info{
    display: flex;
    justify-content: space-between;
    margin-left: 10vw;
    margin-top: 10vw;
}
.bottom-info-left{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 50%;

}
.bottom-info-left i{
    font-size: 4vw;
}
.bottom-info-right i{
    font-size: 4vw;
}
.bottom-info-right{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 50%;
}
.bottom-info-left p{
    margin-top: 10px;
    text-align: center;
}
.bottom-info-right p{
    margin-top: 10px;
    text-align: center;
    margin-left: 10px;
}

.bottom-info h3{
    font-weight: 300;
}
.steps h3{
    font-size: 16px;
    color: #666;
    padding: 5px 10px;
    border: 1px solid #000;
    border-radius: 20px;
    background-color: #fff;
    width: max-content;
    margin-left: 5vw;
    margin-top: 5vw;


}
.steps h1{
    margin-left: 5vw;
    margin-top: 5vw;
    font-weight: 200;
    font-size: 5vw;
    line-height: 1;
    width: 80%;
    text-transform: uppercase;
    margin-bottom: 100px;
}

ol li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    margin-left: 5vw;
    border-top: 2px solid #000;
    padding-top: 30px;
    margin-right: 5vw;

}
li h2{
    font-weight: 300;
    text-transform: uppercase;
    font-size: 1vw;
}
li p{
    width: 30%;
    text-align: left;
    font-weight: 300;
    font-family: "Poppins", sans-serif;
}


footer {
    margin-top: 70px;
    background-color: #1c2732;
    color: #ffffff;

    text-align: center;
    font-weight: 100;

}
footer h3{
    font-weight: 100;

}
.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}

/* Left section */
.left-section{
    text-align: left;
}

.left-section p,
.right-section p {
    margin: 10px 0;
    font-weight: 100;

}
.right-section p{
    line-height: 1.5;
}
.left-section p{
    margin-bottom: 20px;
    font-weight: 100;
}
.right-section{
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.resources,
.legal {
    margin-bottom: 20px;
}

.bottom-section {
    opacity: 0.3;
    font-size: 20vw;
    font-weight: 100;
}

.footer-image{
    width: 25vw;
}


.appointment-form-container {
    position: fixed;
    bottom: -100%;
    left: 0;
    right: 0;
   
    background-color: rgb(255, 255, 255);
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: bottom 1s ease-in-out;
    z-index: 1000;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    height: 40vw;
}

.appointment-form-container.show {
    bottom: 0;
}

.appointment-form {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
}

.appointment-form h2 {
    margin-bottom: 20px;
}

.appointment-form label {
    display: block;
    margin: 10px 0 5px;
}

.appointment-form input,
.appointment-form select,
.appointment-form textarea,
.appointment-form button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.appointment-form button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

.appointment-form button:hover {
    background-color: #45a049;
}
